/* Curl Top Right */
@mixin curl-top-right {
  @include hacks;
  position: relative;

  &::before {
    pointer-events: none;
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: $reveal-area-color; /* IE9 */
    background: linear-gradient(
      225deg,
      $reveal-area-color 45%,
      $curl-line-color 50%,
      $curl-transition-color 56%,
      $curl-last-color 80%
    );
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .4);
    @include prefixed(transition-duration, $medium-duration);
    @include prefixed(transition-property, 'width, height');
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    width: $curl-width;
    height: $curl-height;
  }
}
