<div class="main">
  <h1>Justin Drew</h1>
  <button class="open-dev-tools">Open Dev Tools</button>
  <button class="open-directory">Open a Directory</button>
  <button class="open-file">Open a File</button>
</div>
