/* Radial Out */
@mixin radial-out {
  &.btn-blue {
    &::before {
      background-color: $connect-blue;
    }
  }

  &.btn-connect {
    &::before {
      background: $connect-button-color;
    }
  }

  &.btn-green {
    &::before {
      background-color: $connect-green;
    }
  }

  &.btn-red {
    &::before {
      background-color: $connect-red;
    }
  }

  @include hacks;
  @include transition(color $slow-duration);
  background: transparent;
  border: 0;
  overflow: hidden;
  position: relative;

  &::before {
    @include transform(scale(0));
    @include transition(transform $slow-duration $custom-timing-function);
    border-radius: 100%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &::before {
      @include transform(scale(2));
      @include transition(transform $slow-duration $custom-timing-function);
    }
  }
}
