/* Rectangle In */
@mixin rectangle-in {
  @include hacks;
  position: relative;
  background: $active-color;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $medium-duration);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary-color;
    @include prefixed(transform, scale(1));
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $medium-duration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &::before {
      @include prefixed(transform, scale(0));
    }
  }
}
