/* Border Fade */
@mixin border-fade {
  $borderWidth: 4px;

  @include hacks;
  @include prefixed(transition-duration, $medium-duration);
  @include prefixed(transition-property, box-shadow);
  box-shadow:
      inset 0 0 0 $borderWidth $primary-color,
      0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */

  &:hover,
  &:focus,
  &:active {
    box-shadow:
      inset 0 0 0 $borderWidth $active-color,
      0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
  }
}
